name: tastytrade_sdk

services:
  influxdb:
    image: influxdb:2.7.1
    container_name: influxdb
    labels:
      - "traefik.enable=false"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: adminpassword
      DOCKER_INFLUXDB_INIT_ORG: "${INFLUX_DB_ORG}"
      DOCKER_INFLUXDB_INIT_BUCKET: "${INFLUX_DB_BUCKET}"
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: "${INFLUX_DB_TOKEN}"
    volumes:
      - ${INFLUX_DIR}:/var/lib/influxdb2
      - ${TELEGRAF_DIR}:/etc/telegraf
    user: "1000:1000"
    ports:
      - "0.0.0.0:8086:8086"
    networks:
      - internal_net

  telegraf:
    image: telegraf:1.25.0
    container_name: telegraf
    labels:
      - "traefik.enable=false"
    depends_on:
      - influxdb
    volumes:
      - ${TELEGRAF_VOL}:rw
    environment:
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_DB_TOKEN=${INFLUX_DB_TOKEN}
      - INFLUX_DB_ORG=${INFLUX_DB_ORG}
      - INFLUX_DB_BUCKET=${INFLUX_DB_BUCKET}
    user: "1000:1000"
    ports:
      - "8186:8186"
    networks:
      - internal_net

  redis:
    image: redis:7-alpine
    container_name: redis
    labels:
      - "traefik.enable=false"
    command: redis-server --appendonly yes --save 60 1 --loglevel warning
    volumes:
      - ${REDIS_VOL}:/data
    networks:
      - internal_net
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    labels:
      - "traefik.enable=false"
    environment:
      - REDIS_HOSTS=local:${REDIS_HOST}:${REDIS_PORT}
      - HTTP_USER=admin
      - HTTP_PASSWORD=adminpassword
    ports:
      - "8081:8081"
    depends_on:
      - redis
    networks:
      - internal_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    labels:
      - "traefik.enable=false"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=adminpassword
      - GF_INSTALL_PLUGINS=volkovlabs-echarts-panel
    volumes:
      - ${GRAFANA_VOL}:/var/lib/grafana
      - ${GRAFANA_INXLUXDB}:/var/lib/grafana/influxdb.yml:rw
      - ${GRAFANA_INI}:/etc/grafana/grafana.ini:rw
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge
